.time
{
    float: left;
    width: 383px;
    min-height: 434px;
}

#board
{
    float: left;
    width: 600px;
    margin-left: auto;
    margin-right: auto;
}

.player
{
    float: left;
    width: 508px;
    border-radius: 15px;
    background-color: #375e83;
    padding-top: 20px;
    padding-bottom: 20px;
}

#turn
{
    float: left;
    width: 350px;
    padding-top: 30px;
    padding-bottom: 30px;
}

.card
{
    width: 125px;
    height: 125px;
    display: grid;
    grid-template-columns: 125px;
    float: left;
    margin: 7px;
    background-color: #0D489C;
    background-image: url("../images/card.png");
    border: 4px solid gray;
    border-radius: 5px;
    cursor: pointer;
}

.card:active
{
    width: 125px;
    height: 125px;
    display: grid;
    grid-template-columns: 125px;
    float: left;
    margin: 7px;
    border: 4px solid black;
    border-radius: 5px;
    cursor: pointer;
}

.cardActive
{
    width: 125px;
    height: 125px;
    display: grid;
    grid-template-columns: 125px;
    float: left;
    margin: 7px;
    border: 4px solid white;
    border-radius: 5px;
    cursor: default;
}

.card:hover
{
    background-color: #012E71;
    border: 4px solid white;
}
