a
{
    color: #C8C6C6;
}

a:active
{
    color: #000;
}

#rules
{
    width: 350px;
    margin-left: auto;
    margin-right: auto;
    font-style: italic;
    background-color: #375e83;
    border-radius: 15px;
    padding: 5px;
}

#button
{
    margin: 50px;
}

button
{
    width: 180px;
    height: 100px;
    background-color: #0D489C;
    border-radius: 15px;
    border: 5px solid #0D489C;
    font-size: 48px;
    letter-spacing: 3px;
}

button:hover
{
    cursor: pointer;
    color: #C8C6C6;
    background-color: #012E71;
    border: 5px solid #012E71;
}

.bottom
{
    display: grid;
    grid-template-columns: repeat(3, 455px);
}

.statics
{
    margin-left: 47px;
    width: 300px;
    background-color: #3d6db0;
    border-radius: 100px;
    padding: 30px;
}